.bg-DoctorSidebar {
  background-color: #f0f2f5;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ),
    url(./../../assets/doctorImage.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  border-right: 1px solid #ddd;
}
